%html
  %head
    %title Prolog Project
    %script(src="http://html5slides.googlecode.com/svn/trunk/slides.js")
    %script(src="/static/js/jquery-2.0.3.min.js")
    %script(src="/static/js/bootstrap.min.js")
    %script(src="/static/js/question.js")
    %link(rel="stylesheet", href="/static/css/bootstrap.min.css")

    :javascript
      window.onload = function () {
        var selected = new Array();
        document.getElementById('submit').onclick = function() {
          $("input:radio:checked").each(function() {
               selected.push($(this).val());
          });

          request_body  = { 
            'age_group': $('input[name=age_group]').val(),
            'symptoms': selected.slice(1)
            };

          console.log(request_body);

          $.post(
            '/question/hypothesis',
            request_body,
            function(data, stat, type) {
              // On success
              //alert("Disease added");
            });
        };
      };

  %body(style="display: none")
    %section.slides.layout-regular
      %article  
        %h1 Group 3 Artificial Intelligence Project

      %article
        .row(style="margin-bottom:3em;")
          .span11(style="margin-top: 200px;")
            %h3
              What age group does the patient fall in, an infant, child, adult, or elderly?

        .row
          .offset1.span2
            %label.btn.btn-large Infant
              %input.next(type="radio", name="age_group", value="infant")
          .span2
            %label.btn.btn-large Child
              %input.next(type="radio", name="age_group", value="child")
          .span2
            %label.btn.btn-large Adult
              %input.next(type="radio", name="age_group", value="adult")
          .span2
            %label.btn.btn-large Elderly
              %input.next(type="radio", name="age_group", value="oldadult")

    
      -for name in names
        %article
          .row(style="margin-bottom:3em;")
            .offset1.span9(style="margin-top: 200px;")
              %h3
                #{questions[name]}

          .row
            .offset4.span4.next
              %label.btn.btn-success.btn-large Yes
                %input.next(type="radio", name="#{name}", value="#{name.lower()}")
              %label.btn.btn-danger.btn-large No
                %input.next(type="radio", name="#{name}")

      %article
        .row(style="margin-bottom:3em;")
          .offset4.span2(style="margin-top: 200px;")  
            %button#submit.btn.btn-large Submit
